exclude: '^strictly_typed_pandas/_vendor'
repos:
- repo: local
  hooks:
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    types: [python]
  - id: mypy
    name: mypy
    entry: mypy
    language: system
    types: [python]
  - id: black
    name: black
    description: "Black: The uncompromising Python code formatter"
    entry: black
    language: system
    require_serial: true
    files: \.(py|ipynb)$
  - id: isort
    name: isort
    entry: isort
    language: system
    types: [python]
  - id: pytest
    name: pytest
    entry: coverage run -m pytest --stp-typeguard-packages=tests
    language: system
    types: [python]
    pass_filenames: false
