mypy==1.11.0
flake8==7.1.0
black[jupyter]==24.4.2
docformatter==1.7.5
isort==5.13.2
coverage==7.6.0
pytest==8.2.2
nbconvert==7.16.4
jupyter==1.0.0
sphinx<=7.4.5
sphinx_rtd_theme==2.0.0
nbsphinx==0.9.4
pre-commit<=3.7.1
types-setuptools==71.0.0.20240722
pyarrow<=17.0.0
