mypy<=1.15.0
flake8<=7.2.0
black[jupyter]<=25.1.0
docformatter<=1.7.7
isort<=6.0.1
coverage<=7.8.0
pytest==8.3.5
nbconvert==7.16.6
jupyter==1.1.1
sphinx<=8.2.3
sphinx_rtd_theme==3.0.2
nbsphinx==0.9.7
pre-commit<=4.2.0
types-setuptools<=80.7.0.20250516
pyarrow<=20.0.0
