mypy==1.11.1
flake8==7.1.1
black[jupyter]==24.8.0
docformatter==1.7.5
isort==5.13.2
coverage==7.6.1
pytest==8.3.2
nbconvert==7.16.4
jupyter==1.0.0
sphinx<=8.0.2
sphinx_rtd_theme==2.0.0
nbsphinx==0.9.4
pre-commit<=3.8.0
types-setuptools==71.1.0.20240726
pyarrow<=17.0.0
